In [38]:
import os
import pandas as pd
import PyPDF2
from PyPDF2 import PdfReader

In [39]:
df = pd.read_csv('dataset/ug_pg.csv')
directory = 'cv_base'

In [40]:
df.head()

                        UG                       PG
0             B.Sc Physics             M.Sc Physics
1        B.Tech Electrical        M.Tech Electrical
2           B.Sc Chemistry           M.Sc Chemistry
3           B.Architecture           M.Architecture
4  B.Tech Computer Science  M.Tech Computer Science

In [41]:
df.tail()

                            UG                         PG
737     BBA Financial Analysis     MBA Financial Analysis
738       BBA Retail Marketing       MBA Retail Marketing
739   BBA Sustainable Business   MBA Sustainable Business
740        BBA Business Ethics        MBA Business Ethics
741  BBA Innovation Management  MBA Innovation Management

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UG      742 non-null    object
 1   PG      742 non-null    object
dtypes: object(2)
memory usage: 11.7+ KB

In [47]:
# List of keywords to search for
pred_keywords = ['B.Tech Computer Science','M.Tech Software Engineering','B.Tech Electrical','MCA']

In [59]:
# List to store selected resumes
selected_resumes = []
# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.pdf'):
        # Open the PDF file
        with open(os.path.join(directory, filename), 'rb') as file:
            # Create a PDF file reader object
            reader = PdfReader(file)

            # Iterate over each page in the PDF
            for page in reader.pages:
                # Get the text content of the page
                page_text = page.extract_text()

                # Check if any of the keywords exist in the page text
                if any(keyword.lower() in page_text.lower() for keyword in pred_keywords):
                    # If a keyword is found, add the filename to the selected resumes list
                    selected_resumes.append(filename)
                    # No need to check other pages once a keyword is found
                    break

In [61]:
print('Selected resumes:', selected_resumes)

Selected resumes: ['tg.pdf', 'bn.pdf', 'sw.pdf', 'fv.pdf', 'dc.pdf', 'ep.pdf', 'df.pdf']